*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */    
}
#login-page{
    display:flex;
    /* width: 100vw;
    height: 100vh; */
    align-items: center;
    gap: 163px;
    }

#form{
    height: 512px;
    width: 440px;
    flex-direction: column;
    border:2px solid red;
    position: relative;
}
#form h2{  
    color: var(--black-1,#1c1c1e);
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    -webkit-background-clip: text;
}
#form P{
    /* columns: var(--grey-3,#8e8e93); */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 425%;
    margin-bottom: 15px;
    height: 32px;
}
#form label{
    color: #8e8e93;
    
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 51px;
    margin-bottom: 20px;
}
input::placeholder{
    font-size: 17px;
    color: #8e8e93;
}
.inpute-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    justify-content: space-between;
    color: var(--black-1,#1c1c1e); 
    width: 100%; 
}  
.Character{
    height: 529px;
    width: 510px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
}
.sign-tag{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin: 24px 0px;
    border-radius: 8px;
    /* border: 1px; */
    /* padding: 10px 10px; */
    box-shadow: 0px 1px 2px 0 rgba(16,24,40,0.05);
    background: var(--White-1, #FEFEFE);


}
button{
    width: 100%;
    padding: 6px;
    font-size: 20px;
    background-color:#F3BD00;
    /* gap: 4px; */
    border-radius: 100px;
}
#login-{
    display: flex;
    gap: 40px;
}
.Sign-up-link{
    position: absolute;
    width: 70%;
    bottom: 1%;
    left: 56%;
    transform: translateX(-50%);
    
}
    
.sign-tag img{
    height: 22px;
    margin: 22px;
}

#sign-pages{
    display:flex;
    /* width: 100vw;
    height: 100vh; */
    align-items: center;
    gap: 163px;
    }

#form-1{
    /* height: 512px; */
    width: 440px;
    flex-direction: column;
    border:3px solid red;
    position: relative;
    display: flex;
}
#form-1 h2{  
    color: var(--black-1,#1c1c1e);
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 230%;
    margin-top: -18px;
}
#form-1 P{
    /* columns: var(--grey-3,#8e8e93); */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 425%; */
    margin-bottom: 2px;
    /* height: 32px; */
}
#form-1 h5{
    color: #8e8e93;
    margin-bottom: 30px;
    margin-top: -24px;
}
.s-tag{
    margin-top: 10px;
}
    

input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 51px;
    margin-bottom: 20px;
}
input::placeholder{
    font-size: 17px;
    color: #8e8e93;
}
.inpute-box{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 0px;
    align-self: stretch;
    border-radius: 8px;
    /* justify-content: space-between; */
    color: var(--black-1,#1c1c1e); 
    width: 100%; 
    position: relative;
}
.inpute-box i{
    font-size: 24px;
    /* margin: 10px; */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px (0,0,0,0.2);
    transform: 0.3s;
    /* color: #ff0000; */
    position: absolute;
    right: 1px;
    top: 55%;
    transform: translateY(-70%);
    
    
    
}
.inpute-box i:hover{
    transform: scale(1.2);
}  
.Character-2{
    height: 529px;
    width: 510px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
}
.sign-page2{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin: 24px 0px;
    border-radius: 8px;
    /* border: 1px; */
    /* padding: 10px 10px; */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: var(--White-1, #FEFEFE);
    align-items: center;

}
button{
    width: 100%;
    padding: 6px;
    font-size: 20px;
    background-color:#F3BD00;
    gap: 4px;
    border-radius: 100px;
}
#login-{
    display: flex;
    gap: 40px;
}
.sign-up-link2{
    margin-left: -135px;
}
    
.sign-page2 img{
    height: 22px;
    margin: 22px;
}
.box-1 input{
    height: 15px;
    margin-right: -275px;
    align-content: center;
}
.end-note{
    margin-left: 273px;
    font-weight: 200;
}

#navbar{
    width: 100%;
    height: 72px;
    display: flex;
    padding: 16px 80px 16px 80px;
    justify-content: space-between;
    border: 1px solid #cbcbcb;
    /* position: absolute; */
    bottom: 90%;
    color: #f5f5f5;
    /* gap: 24px; */
}
#login-info{
    display: flex;
}
#login-info p{
    font-weight: 500;
    font-size: 15px;
    line-height: 19.2px;
    color: #1c1c1e;
    flex: 1px;  
}
#dashboard { 
    width: 1180px;
    height: 500px;
    padding: 24px;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    /* color: #FEFEFE */
    /* display: flexbox; */
    margin: 90px 90px;  
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px

}
#dashboard{
    /* justify-content: center; */
    display: flex;
}
#display-screen img{
    height: 264.10px;
    align-self: stretch;
    border-radius: 12.169px;
    background: var(--grey-2, #C7C7CC);
    /* justify-content: center; */
}
#dashboard-header >h1{
    margin-top: 13px;
}
#display-screen h1{
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: var(--black-1,#1c1c1e);
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
#display-screen h6{
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    color: var(--grey-3,#8e8e93);
    width: 393px;
}
#short-info >h6{
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    color: var(--grey-3,#8e8e93);
    width: 393px;
    margin-left: 376px;
    margin-top: 10px;
}
#submit{
    /* display: flex; */
    width: 360px;
    text-align: center;
}
#counting{
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    /* width: 100%; */
   color: var(--black-1,#1c1c1e);
   margin-top: 21px;
}
#counting h1{
    margin-top: 1px;

}
#progess-bar{
    width: 100%;
    height: 15px;
    border-radius: 16px;
    background: var(--grey-1,#EBEBF0);
    margin-bottom: 2px;
}
#coloring{
    background-color: #F3BD00;
    width: 10%;
    height: 15px;
    border-radius: 16px;
}
#Question-ans h3{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter";
}
#Question-ans p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Inter";
    color: var(--grey-3,#8e8e93);
}
#Question-ans ul li{
    margin-top: 6px;
    font-weight: 500;    
}
#btn{
    border: none;
    background-color: rgba(0,0,0,0);
    margin-bottom: 2px;
    justify-content: space-between;
    color: blue;
    text-align: end;
}
#Ranking {
    width: 100%;
    font-family: "Inter";
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
}
#Ranking p{
    color: grey;
}
#Photos{
    width: 100%;
    display: flex;
    /* height: 500px; */
    justify-content: center;
    /* margin-top: 50px;
    margin-left: 25px; */
    border: 2px solid red;
    position: relative;
    /* margin-bottom: -240px; */
    z-index: -1;
    gap: 25px;
    
}
#Photos >img{
    height: 575px;
    margin: 48px -23px;   
}
.heading-img-1{
    position: relative;
    width: 210px;
    height: 419px;
    border-radius: 16px 16px 0px 0px;
    background: #f4ce4a;
    padding: 10px;
    top: 222px;
}
.heading-img-1 >h2{
    text-align: center;
    position: relative;
    bottom: 200px;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.heading-img-1 >h3{
    text-align: center;
    position: relative;
    bottom: 15px;
}
.heading-img-1 >p{
    text-align: center;
    position: relative;
    bottom: 15px;
}
.heading-img-1 >img{
    border-radius: 50%;
    margin-left: 18px;
    margin-top: -80px;
    border: 10px solid #f4ce4a;
}
.heading-img-2{
    position: relative;
    width: 210px;
    height: 419px;
    border-radius: 16px 16px 0px 0px;
    background: #F3BD00;
    padding: 10px;
    top: 135px;
}
.heading-img-2 img{
    border-radius: 50%;
    margin-left: 18px;
    margin-top: -80px;
    border: 10px solid #F3BD00;
}
.heading-img-2 >h3{
    text-align: center;
    position: relative;
    top: 25px;
}
.heading-img-2 >p{
    text-align: center;
    position: relative;
    top: 25px;
}


.heading-img-3{
    position: relative;
    width: 210px;
    height: 419px;
    border-radius: 16px 16px 0px 0px;
    background: #F7E296;
    padding: 10px;
    top: 300px;
}
.heading-img-3 img{
    border-radius: 50%;
    margin-left: 18px;
    margin-top: -80px;
    border: 1px solid #F7E296;
}
.heading-img-3 >h3{
    text-align: center;
    position: relative;
    bottom: 25px;
}
.heading-img-3 >p{
    text-align: center;
    position: relative;
    bottom: 25px;
}
.heading-img-3 >h2{
    text-align: center;
    position: relative;
    bottom: 190px;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
#rank-win img{
    width: 76px;
    height: 76px;
    position: absolute;
    top: 137px;
    left: 48%;
}
#numbering{
    border: 2px solid red;
    width: 100%;
    margin-top: -302px;
    position: relative;
}

.count-numbers{
    display: flex;
    gap: 548px;
    justify-content: space-between;
    margin: 24px 0px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(28,28,30,0.10);
    background: var(--White-1, #FEFEFE);
    padding: 24px 32px;
    align-items: center;
    font-weight: 700;
}
#vect-pic img{
    width: 100%;
}
#vect-pic img{
    border: 2px solid red;
    width: 100%;
}
.inpute-box span {
    color: var(--Red-1, #D70015);
}